variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: 'true'
  SUPABASE_SERVICE_ROLE_KEY: 'test-only-secret'
  SUPABASE_DB_WEBHOOK_SECRET: 'test-only-secret'
  STRIPE_SECRET_KEY: 'test-only-secret'
  STRIPE_WEBHOOK_SECRET: 'test-only-secret'

before_script:
  - npm install -g pnpm
  - pnpm i --frozen-lockfile
  - pnpm clean:workspaces
  - pnpm clean
  - pnpm i --frozen-lockfile

stages:
  - test
  - build
  - deploy

# Polydoc App Jobs
polydoc-test:
  stage: test
  tags:
    - cm3588
  image: 'node:22.11'
  script:
    - echo "polydoc app test"
  rules:
    - changes:
        - packages/**
        - apps/polydoc

polydoc-build:
  stage: build
  tags:
    - cm3588
  image: 'node:22.11'
  script:
    - cd apps/polydoc
    - pnpm cloudflare:build
  artifacts:
    paths:
      - apps/polydoc/.vercel/output/static/
    expire_in: 1 hour
  rules:
    - changes:
        - packages/**
        - apps/polydoc

polydoc-deploy:
  stage: deploy
  tags:
    - cm3588
  image: 'node:22.11'
  dependencies:
    - polydoc-build
  script:
    - cd apps/polydoc
    - pnpm cloudflare:deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - packages/**
        - apps/polydoc
